.contacts_people_flex_container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: -30px;
}
.contacts_people_holder{
  padding-bottom: 30px;
}
.contacts_people_item{
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}
.people_card{
  padding: 14px 16px 24px;
  //padding: 0.777rem 0.888rem 1.333rem;
  background: white;
}
.people_card_img{
  position: relative;
  img{
    width: 100%;
    height: auto;
  }
}
.people_card_cross{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 18px;
  height: 18px;
  background: url(/images/black_cross.png) no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.people_card_content{
  padding-top: 18px;
  //padding-top: 1rem;
  span{
    display: inline-block;
    width: 100%;
    color: #4d4d4d;
    font-weight: normal;
    font-size: 1.143rem;
  }
  .people_card_name{
    font-size: 1.571rem;
    color: #000;
  }
}
.btn{
  cursor: pointer;
}
.btn_type_a{
  font-size: 1.111rem;
  width: 12.5rem;
  max-width: 47.5%;
  color: $type-a-text;
  border: 1px solid $type-a-text;
  background: transparent;
  margin-bottom: 0;
  line-height: 1.2rem;
  &:hover{
    color: $type-a-text;
    border: 1px solid $type-a-text-hover;
  }
  &:focus{
    outline: none;
    box-shadow: none;
  }
}
.btn_type_b{
  font-size: 1.111rem;
  width: 12.5rem;
  max-width: 47.5%;
  color: $type-b-text;
  border: 1px solid $type-b-border;
  background: transparent;
  margin-bottom: 0;
  line-height: 1.2rem;
  &:hover{
    color: $color-text-disable;
    background: lighten($type-b-border, 10%);
  }
  &:focus{
    outline: none;
    box-shadow: none;
  }
}
.btn_type_c{
	font-size: 1.111rem;
	width: 100%;
	max-width: 400px;
	color: $color-text-disable;
	border: 1px solid $type-c-border;
	background: $type-c-border;
	margin-bottom: 0;
	line-height: 1.2rem;
	&:hover {
		color: $color-text-disable;
		background: lighten($type-c-border, 40%);
	}
	&:focus{
		outline: none;
		box-shadow: none;
	}
}
.btn_type_d{
  font-size: 1.111rem;
  width: auto;
  min-width: 47.5%;
  color: $type-b-text;
  border: 1px solid $type-b-border;
  background: transparent;
  margin-bottom: 0;
  line-height: 1.2rem;
  &:hover{
    color: $color-text-disable;
    background: lighten($type-b-border, 10%);
  }
  &:focus{
    outline: none;
    box-shadow: none;
  }
}
.btn_type_e{
	font-size: 1.111rem;
	//width: 12.5rem;
	max-width: 60%;
	color: $type-e-text;
	border: 1px solid $type-e-border;
	background: transparent;
	margin-bottom: 0;
	line-height: 1.2rem;
	display: block;
	margin: 0 auto;
	height: auto;
	&:hover{
		color: $type-e-text;
		border: 1px solid $type-a-text-hover;
		background: $type-a-text-hover;
	}
	&:focus{
		outline: none;
		box-shadow: none;
	}
}
.modal{
  .modal-footer{
    display: block;
    .btn.btn_type_a,.btn.btn_type_b{
      max-width: 75%;
      display: block;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.tac_row{
  text-align: center;
}
.col-xs-c{
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px){
  .sm_tar_row{
    text-align: right;
  }
  .col-xs-c{
    margin-left: 0;
    margin-right: 0;
  }
  .modal{
    .modal-footer{
      display: flex;
      .btn.btn_type_a,.btn.btn_type_b{
        max-width: 40%;
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }
}
.form-control:disabled, .form-control[readonly] {
	background-color: inherit;
	color: $color-text-disable;
}
