<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="contacts_people_holder">
                <div class="contacts_people_flex_container">
                    <div class="col-md-3 people_card contacts_people_item ">
                        <div class="people_card_img">
                            <img src="/images/people_card_woman.png" alt="">
                            <div class="people_card_cross"></div>
                        </div>
                        <div class="people_card_content">
                            <span class="people_card_name">Ирина Петрова</span>
                            <span class="people_card_position">Бухгалтер</span>
                            <span class="people_card_e-mail">info@info.com.ua</span>
                            <span class="people_card_phone">+38 093 555 55 55</span>
                        </div>
                    </div>
                    <div class="col-md-3 people_card contacts_people_item">
                        <div class="people_card_img">
                            <img src="/images/people_card_woman.png" alt="">
                            <div class="people_card_cross"></div>
                        </div>
                        <div class="people_card_content">
                            <span class="people_card_name">Ирина Петрова</span>
                            <span class="people_card_position">Бухгалтер</span>
                            <span class="people_card_e-mail">info@info.com.ua</span>
                            <span class="people_card_phone">+38 093 555 55 55</span>
                        </div>
                    </div>
                    <div class="col-md-3 people_card contacts_people_item">
                        <div class="people_card_img">
                            <img src="/images/people_card_woman.png" alt="">
                            <div class="people_card_cross"></div>
                        </div>
                        <div class="people_card_content">
                            <span class="people_card_name">Ирина Петрова</span>
                            <span class="people_card_position">Бухгалтер</span>
                            <span class="people_card_e-mail">info@info.com.ua</span>
                            <span class="people_card_phone">+38 093 555 55 55</span>
                        </div>
                    </div>
                    <div class="col-md-3 people_card contacts_people_item">
                        <div class="people_card_img">
                            <img src="/images/people_card_woman.png" alt="">
                            <div class="people_card_cross"></div>
                        </div>
                        <div class="people_card_content">
                            <span class="people_card_name">Ирина Петрова</span>
                            <span class="people_card_position">Бухгалтер</span>
                            <span class="people_card_e-mail">info@info.com.ua</span>
                            <span class="people_card_phone">+38 093 555 55 55</span>
                        </div>
                    </div>
                    <div class="col-md-3 people_card contacts_people_item">
                        <div class="people_card_img">
                            <img src="/images/people_card_woman.png" alt="">
                            <div class="people_card_cross"></div>
                        </div>
                        <div class="people_card_content">
                            <span class="people_card_name">Ирина Петрова</span>
                            <span class="people_card_position">Бухгалтер</span>
                            <span class="people_card_e-mail">info@info.com.ua</span>
                            <span class="people_card_phone">+38 093 555 55 55</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tar_row">
                <a class="modal_trigger" href="#" data-toggle="modal" data-target="#add_contacts-modal">
                    <button class="btn btn_type_a">Добавить</button>
                </a>
            </div>
        </div>
    </div>
</section>