---
layout: auth/auth-layout
themeTitle: Gulliver
---
<div class="auth-container">
	<div class="card">
		<div class="auth-content">
			<p class="text-center mb-5">Введите пожалуйста код авторизации из SMS</p>
			<form id="reset-form"  action="/index.html" method="GET" novalidate="">
				<div class="form-group text-center mb-5">
					<input type="number" class="form-control underlined text-center text-uppercase mb-5" name="sms" id="sms" placeholder="_ _ _ _ _ _ _ _" required>
				</div>
				<div class="form-group text-center mt-3">
					<button type="submit" class="btn btn_type_b">Подтвердить</button>
				</div>
			</form>
		</div>
	</div>
</div>
