---
layout: auth/auth-layout
themeTitle: Gulliver
---
<div class="auth-container">
	<div class="card">
		<div class="auth-content">
			<p class="text-center mb-5">Відновлення паролю</p>
			<form id="reset-form" class="form-group flex-column align-content-between justify-content-around" action="/index.html" method="GET" novalidate="">
				<div class="form-group">
					<input type="text" class="form-control underlined mb-5" name="email1" id="email1" placeholder="Введіть email або телефон" required>
				</div>
				<div class="form-group text-center mt-3">
					<button type="submit" class="btn btn_type_b">Відправити</button>
				</div>
			</form>
		</div>
	</div>
</div>
