---
layout: app/app-layout
pagename: documents
---

<div class="title-block">
    <h1 class="title">
        Документы
    </h1>
</div>
<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="table-flip-scroll">
                <table class="table flip-content t_doc">
                    <thead class="flip-header">
                    <tr>
                        <th>№ документа</th>
                        <th>
                            <select name="filter_date" class="table_filter">
                                <option value="hidden">Дата</option>
                                <option value="24.11.16">24.11.16</option>
                                <option value="23.11.16">23.11.16</option>
                                <option value="22.11.16">22.11.16</option>
                                <option value="21.11.16">21.11.16</option>
                            </select>
                        </th>
                        <th>
                            Наименование
                        </th>
                        <th>
                            <select name="filter_doc_type" class="table_filter">
                                <option value="hidden">Тип документа</option>
                                <option value="mark">Маркетинг</option>
                                <option value="rules">Правила ТРЦ</option>
                                <option value="rent">Аренда</option>
                                <option value="else">Другое</option>
                            </select>
                        </th>
                        <th>
                            <select name="filter_doc_topic" class="table_filter">
                                <option value="hidden">Тема документа</option>
                                <option value="mark">Тема документа1</option>
                                <option value="rules">Тема документа2</option>
                                <option value="rent">Тема документа3</option>
                                <option value="else">Тема документа4</option>
                            </select>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1567</td>
                        <td>25.11.16</td>
                        <td>Наименование 1</td>
                        <td class="center">Маркетинг</td>
                        <td class="center">Тема документа 1</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2742</td>
                        <td>24.11.16</td>
                        <td>Наименование 2</td>
                        <td class="center">Правила ТРЦ</td>
                        <td class="center">Тема документа 2</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>3965</td>
                        <td>22.11.16</td>
                        <td>Наименование 3</td>
                        <td class="center">Аренда</td>
                        <td class="center">Тема документа 3</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>1567</td>
                        <td>25.11.16</td>
                        <td>Наименование 1</td>
                        <td class="center">Маркетинг</td>
                        <td class="center">Тема документа 1</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>3965</td>
                        <td>22.11.16</td>
                        <td>Наименование 3</td>
                        <td class="center">Аренда</td>
                        <td class="center">Тема документа 3</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2742</td>
                        <td>24.11.16</td>
                        <td>Наименование 2</td>
                        <td class="center">Правила ТРЦ</td>
                        <td class="center">Тема документа 2</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>3965</td>
                        <td>22.11.16</td>
                        <td>Наименование 3</td>
                        <td class="center">Аренда</td>
                        <td class="center">Тема документа 3</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>1567</td>
                        <td>25.11.16</td>
                        <td>Наименование 1</td>
                        <td class="center">Маркетинг</td>
                        <td class="center">Тема документа 1</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2742</td>
                        <td>24.11.16</td>
                        <td>Наименование 2</td>
                        <td class="center">Правила ТРЦ</td>
                        <td class="center">Тема документа 2</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>1567</td>
                        <td>25.11.16</td>
                        <td>Наименование 1</td>
                        <td class="center">Маркетинг</td>
                        <td class="center">Тема документа 1</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>3965</td>
                        <td>22.11.16</td>
                        <td>Наименование 3</td>
                        <td class="center">Аренда</td>
                        <td class="center">Тема документа 3</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2742</td>
                        <td>24.11.16</td>
                        <td>Наименование 2</td>
                        <td class="center">Правила ТРЦ</td>
                        <td class="center">Тема документа 2</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>3965</td>
                        <td>22.11.16</td>
                        <td>Наименование 3</td>
                        <td class="center">Аренда</td>
                        <td class="center">Тема документа 3</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>1567</td>
                        <td>25.11.16</td>
                        <td>Наименование 1</td>
                        <td class="center">Маркетинг</td>
                        <td class="center">Тема документа 1</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2742</td>
                        <td>24.11.16</td>
                        <td>Наименование 2</td>
                        <td class="center">Правила ТРЦ</td>
                        <td class="center">Тема документа 2</td>
                        <td>
                            <a href="#" class="doc_download_btn">
                                <span>Скачать</span>
                                <span class="doc_download_btn_img"><i class="fi icon-downloals"></i></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>
