.table_filter{
  //min-width: 100px;
  border: none;
  background: transparent;
  &:focus{
    outline: none;
  }
  option{
    border: none;
  }
}
.t_doc{
  tr{
    border-bottom: 1px solid #EAEEF0;
    background-color: white;
    transition: background-color 0.4s ease;
    td{
      font-size: 1rem;
    }
    &:hover{
      background-color: #EAEEF0;
    }
  }

  thead tr{
    background: #EAEEF0;
	  @media all and (max-width: 768px){
		  width: 130px;
		  text-align: right !important;
		  select {width: 100%;}
	  }
    th,th select{
      font-weight: 300;
      color: #4D4D4D;
      font-size: 1rem;
    }
    //to compensate default select padding and make text in select and td properly aligned left
    th select{
      margin-left: -4px;
      position: relative;
      //&:after{
      //  position: absolute;
      //  content: ' ';
      //  display: block;
      //  right: 0;
      //  top: 50%;
      //  transform: translateY(-50%);
      //  height: 0.5rem;
      //  width: 0.888rem;
      //  background: red;
      //  //background: url(/assets/select_arrow.png) no-repeat center;
      //  //background-size: cover;
      //}
    }
    //for better mobile view
    th:last-child{
      min-height: 5.65rem;
		@include media-down(md){
			min-height: 3.25rem;
		}
    }
  }
}
//.flip-header {
//	width: 119px;
//	text-align: right !important;
//}
.title{
  font-weight: 400;
  font-size: 1.125rem;
  &-block{
    border-bottom: none;
    margin: 0;
  }
}
.t_doc tr td .doc_download_btn{
  text-decoration: none;
  padding: 5px;
  span{
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    padding-right: 4px;
  }
  .doc_download_btn_img{
    //width: 1.222rem;
    //height: 0.888rem;
    //background: url(/images/download.png) no-repeat center;
    //background-size: cover;content: '\809';
    display: inline-block;
    vertical-align: middle;
  }
  &:hover{
	  color: $color-text-disable;
    .doc_download_btn_img{
      //background: url(/images/download_yellow.png) no-repeat center;
      background-size: cover;
    }
  }
}
