<div class="modal fade" id="add_contacts-modal">
    <div class="modal-dialog modal-guliver" role="document">
        <div class="modal-content">
            <a class="modal_close_cross" href="#" data-dismiss="modal"></a>
            <form action="#" class="modal_wrap_form" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Добавить сотрудника</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control underlined" placeholder="ФИО*" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control underlined" placeholder="Имя заказчика*" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control underlined" placeholder="e-mail*" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control underlined" placeholder="Телефон*" required>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option value="option1">Бухгалтер*</option>
                            <option value="option2">Менеджер*</option>
                            <option value="option3">Директор*</option>
                        </select>
                    </div>
                    <div class="form-group form-group-upload">
                        <label>
                            <input type="file">
                            <span class="form_upload_plus">+</span>
                            <span class="form_upload_text">
                                <span class="form_upload_tip">Загрузите фото сотрудника</span>
                                <span class="form_upload_format">Файл в формате jpg или png</span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn_type_a" data-dismiss="modal">Отмена</button>
                    <button class="btn btn_type_b">Добавить</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
