.card-header:hover {
	box-shadow: 0 0 5px 0 rgba(182,182,182,.3);
}
a[href^="#notif_collapse"] {
	text-decoration: none !important;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&:hover {
		color: inherit;
	}
}

a[href^="#notif_collapse"] > .shevron {
	position: relative;
	width: 40px;
	height: 20px;
}
a[href^="#notif_collapse"] > .shevron:after {
	display: block;
	content: "\e80a";
	color: $color-text-grey;
	position: absolute;
	width: auto;
	height: auto;
	right: 15px;
	top: -2px;
	font:16px/1 "gul";
	font-size: 27px;
	text-rendering: auto;
	opacity: 0;
}

a[aria-expanded="false"] > .shevron:after {
	transform: rotate(0deg);
}
a[aria-expanded="true"] > .shevron:after {
	transform: rotate(180deg);
}

.title-notif:hover a[href^="#notif_collapse"] > .shevron:after {
	opacity: 1;
}





.del_notif {
	color: $color-text-grey;
}
.title-notif {
	a {
		color: $color-text-disable;
		span span {
			color: $color-text;
			font-size: 1.1rem
		}
		&:hover, &:hover > span span {
			color: $color-text-disable;
		}
	}

}


