{{!-- Notifications --}}

<li class="notifications new">
  <a href="notification.html" >
    <i class="fa fa-bell-o"></i>
    <sup>
      <span class="counter">8</span>
    </sup>
  </a>

</li>
<li class="notifications setengs_profile">
	<a href="profile_settings.html"><i class="fi icon-geer"></i></a>
</li>
<li class="notifications logout">
	<a href="login.html"><i class="fi icon-exit"></i></a>
</li>
