{{!----}}
<script type="application/json" src="http://api.minfin.com.ua/nbu/199244c956f088da8d83a2a6869107a2d4f51d96/"></script>
<div class="curent_wrap w-75 mx-auto my-2 mt-md-5">
	<div class="title-curent underlined">Курс валют</div>
	<div class="curent-table flex-column">
		<div class=" flex-row justify-content-between">
			<span class="cur_usd">USD / ГРН</span><span class="cur_usd-count">00.00</span>
		</div>
		<div class=" flex-row justify-content-between">
			<span class="cur_eur">EUR / ГРН</span><span class="cur_eur-count">00.00</span>
		</div>
		<div class=" flex-row justify-content-between">
			<span class="cur_rub">RU / ГРН</span><span class="cur_rub-count">00.00</span>
		</div>
	</div>
	<a href="https://minfin.com.ua" class="color-item "></a>
</div>
