<div class="title-block">
    <h1 class="title">
        Акции
    </h1>
</div>
<section class="section">
    <div class="row discounts_row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img src="/images/discount_img_1.png" alt="">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            <div class="discount_heading">
                <h4>C 8 до 10 утра кофе бесплатно CoffeePoint</h4>
                <p>dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit ametdolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet</p>
            </div>
        </div>
    </div>
</section>