.discounts_row{
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 30px;
  background: white;
  img{
    width: 100%;
  }
  h4{
    font-size: 1rem;
    color: black;
  }
  p{
    font-size: 0.777rem;
    line-height: 2em;
    color: #4D4D4D;
  }
}