{{!-- add question --}}
<div class="modal fade order_form" id="add_question">
	<div class="modal-dialog modal-guliver" role="document">
		<div class="modal-content">
			<a class="modal_close_cross" href="#" data-dismiss="modal"></a>
			<form action="#" class="modal_wrap_form" method="post">
				<div class="modal-header">
					<div class="form-group col-12">
						<div class="title-block">
							<h4 class="modal-title mb-5 text-center">Задать вопрос</h4>
						</div>
						<textarea name="add-question" id="" rows="5" class="form-control underlined col-12 mb-5" placeholder="Введите текст вопроса">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит </textarea>
						<div class="form-group form-group-upload text-left">
							<label>
								<input type="file">
								<span class="form_upload_plus">+</span>
								<span class="form_upload_text">Прикрепить документ</span>
							</label>
						</div>
						<div class="form-group form-group-upload text-left">
							<label>
								<input type="file">
								<span class="form_upload_plus">+</span>
								<span class="form_upload_text">Прикрепить документ</span>
							</label>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button class="btn btn_type_b">Отправить</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
