---
layout: app/app-layout
pagename: adds_single
---

<section class="section">
	<div class="row adds_single_row">
		<div class="col-md-4">
			<img src="/images/discount_img_1.png" alt="">
		</div>
		<div class="col-md-8">
			<div class="adds_single_heading">
				<h4>Реклама на радио</h4>
			</div>
			<p>dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit ametdolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet</p>
		</div>
	</div>
	<div class="row two_btn_row">
		<a href="TRK_adds_page.html" class="btn btn_type_a">Назад</a>
		<button class="btn btn_type_a">Заказать</button>
	</div>
</section>