<div class="modal fade" id="delete_contacts-modal">
    <div class="modal-dialog modal-guliver" role="document">
        <div class="modal-content">
            <a class="modal_close_cross" href="#" data-dismiss="modal"></a>
            <form action="#" class="modal_wrap_form" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Вы точно хотите удалить сотрудника?</h4>
                </div>
                <div class="modal-footer">
                    <button class="btn btn_type_a" data-dismiss="modal">Отмена</button>
                    <button class="btn btn_type_b">Подтвердить</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->