---
layout: app/app-layout
pagename: profile_setting
---

<div class="title-block">
    <h1 class="title">
		Настройки профиля
    </h1>
</div>
<section class="section">
	<div class="row">
		<form action="#" class="profile_settings_form col-12 p-3" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pt-md-4 pt-xl-0">
					<div class="form-group mb-5">
						<label class="control-label">Логин</label>
						<input type="text" disabled="disabled" class="form-control underlined" value="pullandbear@gmail.com">
					</div>
					<div class="form-group mb-5">
						<label class="control-label">Старый пароль</label>
						<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control underlined">
					</div>
					<div class="form-group mb-5">
						<label class="control-label">Новый пароль</label>
						<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control underlined">
					</div>
					<div class="form-group mb-5">
						<label class="control-label">Подтверждение пароля</label>
						<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control underlined">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="form-group mb-5">
						<label class="control-label">Название магазина/бренда (башта: n, этаж: m)</label>
						<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control underlined" value="PULL&BEAR (башта: А, поверх: 4)">
					</div>
					<div class="form-group mb-5">
						<label class="control-label">ФИО</label>
						<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control underlined" value="Иванов Иван Иванович">
					</div>
					<div class="form-group mb-5">
						<label class="control-label">Должность</label>
						<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control underlined" value="Директор">
					</div>
					<div class="form-group mb-5">
						<label class="control-label">Контактный телефон</label>
						<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control underlined" value="26565654858">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="foto_container">
						<div class="form-group profile_img_holder">
							<img src="/images/people_card_woman.png" alt="" class="w-100">
							<a class="people_card_cross" href="#" data-toggle="modal" data-target="#delete_contacts-modal"></a>
						</div>
						<div class="form-group form-group-upload">
							<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
								<input type="file">
								<span class="form_upload_plus">+</span>
								<span class="form_upload_text">
								<span class="form_upload_tip">Загрузить новое фото профиля</span>
								<span class="form_upload_format">Файл в формате jpg или png</span>
							</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="profile_settings_submit_btn_holder">
						<button class="btn btn_type_f">Сохранить изменения</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
