.profile_settings_form {
	background-color: #fff;
}
.profile_img_holder{
  position: relative;
  background: white;
  max-width: 340px;
  img{
    width: 100%;
  }
}
.profile_settings_submit_btn_holder{
  padding-top: 1.333rem;
	@include media-down(md) {
		text-align: center;
	}
}
.foto_container {
	margin: 0 auto;
	width: 300px;
	max-width: 340px;
}
