---
layout: app/app-layout
pagename: adds_page
---


<section class="section">
	<div class="row">
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="TRK_adds_single.html" class="adds_list_item_img">
					<img src="/images/addvords_1.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="TRK_adds_single.html" class="adds_list_item_heading">
						<h4>Реклама на единственном в Украине
							подсвечиваемом фасаде ТРЦ Gulliver</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="TRK_adds_single.html" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="TRK_adds_single.html" class="adds_list_item_img">
					<img src="/images/addvords_0.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="TRK_adds_single.html" class="adds_list_item_heading">
						<h4>Outdoor реклама:
                            накрышные конструкции</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="TRK_adds_single.html" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="TRK_adds_single.html" class="adds_list_item_img">
					<img src="/images/addvords_2.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="TRK_adds_single.html" class="adds_list_item_heading">
						<h4>Indoor реклама в ТРЦ</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="TRK_adds_single.html" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/addvords_3.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама на сайте ТРЦ и социальных сетях</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/addvords_4.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама в газете Gulliver Times   </h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/addvords_5.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама в боулинге</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/addvords_6.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама в лифтах</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="TRK_adds_single.html" class="adds_list_item_img">
					<img src="/images/addvords_7.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="TRK_adds_single.html" class="adds_list_item_heading">
						<h4>Реклама на паркинге</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="TRK_adds_single.html" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/addvords_8.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама на радио</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
