---
layout: app/app-layout
pagename: adds_page
---


<section class="section">
	<div class="row">
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/adds_img_1.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама на единственном в Украине
							подсвечиваемом фасаде ТРЦ Gulliver</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/adds_img_1.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама на единственном в Украине
							подсвечиваемом фасаде ТРЦ Gulliver</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/adds_img_1.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама на единственном в Украине
							подсвечиваемом фасаде ТРЦ Gulliver</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/adds_img_1.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама на единственном в Украине
							подсвечиваемом фасаде ТРЦ Gulliver</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/adds_img_1.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама на единственном в Украине
							подсвечиваемом фасаде ТРЦ Gulliver</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/adds_img_1.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама на единственном в Украине
							подсвечиваемом фасаде ТРЦ Gulliver</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/adds_img_1.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама на единственном в Украине
							подсвечиваемом фасаде ТРЦ Gulliver</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/adds_img_1.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама на единственном в Украине
							подсвечиваемом фасаде ТРЦ Gulliver</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="adds_list_item">
				<a href="#" class="adds_list_item_img">
					<img src="/images/adds_img_1.png" alt="">
				</a>
				<div class="adds_list_item_content">
					<a href="#" class="adds_list_item_heading">
						<h4>Реклама на единственном в Украине
							подсвечиваемом фасаде ТРЦ Gulliver</h4>
					</a>
					<div class="adds_list_item_text">
						<p>
							dolor sit amet, consectetur adipiscing elit. Aeneanfred euismod
							bibendum laoreet. Proi gravida dolor sitdfd dsd dolor sit amet.
							Lorem ipsum consectetur elit.dolor sit amet, consectetur
							adipiscing elit. Aeneanfred euismod bibendum laoreet.
						</p>
					</div>
					<div class="adds_list_more_info_btn_holder">
						<a href="#" class="adds_list_more_info_btn">
							<span>Подробнее</span>
							<img src="/images/more_info_arrow.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>