{{!----}}
{{#each events}}
<div class="row discounts_row">
	<div class="col-xs-12 col-md-4">
		<img src="{{images}}" alt="">
	</div>
	<div class="col-xs-12 col-md-8">
		<div class="discount_heading">
			<h4>{{title}}</h4>
		</div>
		<p>{{text}}</p>
	</div>
</div>
{{/each}}
