{{!-- Profile --}}
<li class="profile dropdown">
 <!-- <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
  <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="name_autline d-none d-md-none d-xl-inline-block">
      Иван Иванович Кукушкин
    </span>
    <div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&s=40')">

    </div>
	  <span class="name company d-none d-sm-inline-block">
		  TOB PULL & BEAR
	  </span>
  </a>
</li>
