---
layout: app/app-layout
pagename: order_single
---

<section class="section">
	<div class="row">
		<div class="col-md-12 order_single">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-10 order_answer">
					<div class="card card-default">
						<div class="card-header">
							<div class="w-100 header-block justify-content-between">
								<p class="title">Заявка №1</p>
								<p class="title text-right float-right">Статус: Отправлена</p>
							</div>
						</div>
						<div class="card-block">

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
						</div>
						<div class="card-footer"> Card Footer </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
