.header .header-block-buttons {
	text-align: center;
	margin-left: 0;
	margin-right: auto;
	white-space: nowrap;

	.btn.header-btn {
		background-color: transparent;
		border: 2px solid $color-primary;
		color: lighten($color-btn-text, 2%);
		margin: 0 5px;
		border-radius: 0;
		font-size: 1.125rem;
		// border-radius: 25px;

		&:hover,
		&:focus {
			border: 2px solid $color-primary;
			background-color: $color-primary;
			color: darken($color-text, 10%);
		}
		@include media-down(sm) {
			span {
				display: none;
			}
		}
	}
}
