<div class="header-block header-block-buttons" >
	<a class="btn btn-primary-outline btn-sm header-btn modal_trigger" href="#" data-toggle="modal" data-target="#add_question">
		<i class="fa fa-phone"></i>
		<span>Задать вопрос</span>
	</a>

</div>
