---
layout: auth/auth-layout
themeTitle: Gulliver
---
<div class="auth-container">
	<div class="card">
		<div class="auth-content">
			<p class="text-center">Будь ласка авторизуйтесь в особистому кабінеті</p>
			<form id="login-form"  action="/index.html" method="GET" novalidate="">
				<div class="form-group">
					<input type="email" class="form-control underlined pl-2 bg-transparent" name="username" id="username" placeholder="Логiн" required>
				</div>
				<div class="form-group">
					<input type="password" class="form-control underlined pl-2 bg-transparent" name="password" id="password" placeholder="Пароль" required>
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn_type_e">Підтвердити</button>
				</div>
				<div class="form-group">
					<p class="text-muted text-center"> <a href="signup.html">Забули пароль?</a></p>
				</div>
			</form>
		</div>
	</div>

</div>
