<aside class="sidebar">
	<div class="sidebar-container">

		{{> app/_common/sidebar/header/header}}

		<nav class="menu">
			<ul class="sidebar-menu metismenu" id="sidebar-menu">

				<li {{#is pagename "in" "orders,order_single"}}class="active"{{/is}} >
					<a href="orders.html">
						<i class="fa icon-orders"></i> Заявки
					</a>
				</li>

				<li {{#is pagename "in" "adds_page,adds_single"}}class="active"{{/is}} >
					<a href="TRK_adds_page.html">
						<i class="fa icon-charts"></i> Реклама в ТРЦ
					</a>
				</li>

				<li {{#is pagename "===" "discounts_page"}}class="active"{{/is}} >
					<a href="discounts_page.html">
						<i class="fa icon-ticket"></i> Акции для арендатора
					</a>
				</li>

				<li {{#is pagename "===" "contacts_people"}}class="active"{{/is}} >
					<a href="contacts_people.html">
						<i class="fa icon-contacts"></i> Контакты арендатора
					</a>
				</li>

				<li {{#is pagename "===" "documents"}}class="active"{{/is}} >
					<a href="documents.html">
						<i class="fa icon-documents"></i> Документы
					</a>
				</li>

				<li {{#is pagename "===" "contacts_trk"}}class="active" {{/is}} >
					<a href="contacts_TRK.html">
						<i class="fa icon-contacts-trc"></i> Контакты ТРЦ
					</a>
				</li>

			</ul>
		</nav>


		{{> app/_common/sidebar/curentsy/curentsy}}
	</div>

	<!--{{> app/_common/sidebar/customize/customize}}-->
	{{> app/_common/sidebar/orders_btn/orders_btn}}

</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
