<footer class="sidebar-footer">
	<div class="orders_btn">
		<a class="modal_trigger" href="#" data-toggle="modal" data-target="#create_order_for">
			<button class="btn btn-primary-outline" type="button" id="orders_btn">Подати заявку</button>
		</a>

	</div>

</footer>
