---
layout: app/app-layout
pagename: dashboard
orders:
  - number_order: 10
    date_order: 10.10.17
    type_order: Гостевой пропуск
    event_order: Отправлена
    count_order:
    new_order: false
    new_count: 0
events:
  - images: /images/discount_img_1.png
    title: C 8 до 10 утра кофе бесплатно CoffeePoint
    text: dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit ametdolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet
  - images: /images/discount_img_1.png
    title: C 8 до 10 утра кофе бесплатно CoffeePoint
    text: dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit ametdolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet
  - images: /images/discount_img_1.png
    title: C 8 до 10 утра кофе бесплатно CoffeePoint
    text: dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit ametdolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet
  - images: /images/discount_img_1.png
    title: C 8 до 10 утра кофе бесплатно CoffeePoint
    text: dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit ametdolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet Proi gravida dolor sit amet dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumlaoreet. Proi gravida dolor sit amet
notif:
  - id: 1
    title: Повідомлення
    short: Маркетинг. Раздача листовок.
    long: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  - id: 2
    title: Повідомлення
    short: Маркетинг. Раздача листовок.
    long: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  - id: 3
    title: Повідомлення
    short: Маркетинг. Раздача листовок.
    long: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  - id: 4
    title: Повідомлення
    short: Маркетинг. Раздача листовок.
    long: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  - id: 5
    title: Повідомлення
    short: Маркетинг. Раздача листовок.
    long: Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

---

<div class=" flex-row justify-content-between w-100 mb-2">
	<h1 class="title">
		Повідомлення
	</h1>
	<div class="more_b">
		<a href="notification.html" class="adds_list_more_info_btn">
			<span>Докладнiше</span>
			<img src="/images/more_info_arrow.png" alt="">
		</a>
	</div>
</div>
<section class="section">
	<div class="row">
		<div class="col-md-12">
			{{> app/dashboard/notif/notif}}
		</div>
	</div>
</section>


<div class=" flex-row justify-content-between w-100 mb-2">
	<h1 class="title">
		Заявки
	</h1>
	<div class="more_b">
		<a href="orders.html" class="adds_list_more_info_btn">
			<span>Докладнiше</span>
			<img src="/images/more_info_arrow.png" alt="">
		</a>
	</div>
</div>

<section class="section">
	<div class="row">
		<div class="col-md-12">
			{{> app/dashboard/orders/orders}}
		</div>
	</div>
</section>

<div class=" flex-row justify-content-between w-100 mb-2">
	<h1 class="title">
		Акції
	</h1>
	<div class="more_b">
		<a href="discounts_page.html" class="adds_list_more_info_btn">
			<span>Докладнiше</span>
			<img src="/images/more_info_arrow.png" alt="">
		</a>
	</div>
</div>

<section class="section">
	<div class="row">
		<div class="col-md-12">
			{{> app/dashboard/events/events}}
		</div>
	</div>
	<div class="row pagination_with_btn_row">
		<div class="tac_row sm_tar_row">
			<a class="modal_triggeron" href="#" data-toggle="modal" data-target="#create_order_for">
				<button class="btn btn_type_d">Додати акцiю</button>
			</a>
		</div>
		<!--<ul class="section_pagination">
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li class="active"><a href="#">4</a></li>
		</ul>-->
	</div>
</section>


