<div class="header-block header-block-nav">
	<ul class="nav-profile">

		{{!-- Profile Dropdown --}}
		{{> app/_common/header/nav/profile/profile}}

		{{!-- Notifications Dropdown --}}
		<!--{{> app/_common/header/nav/notifications/notifications}}-->


	</ul>
</div>