//SCSS file for order

.order_form {
	.modal-dialog {
		width: 100%;
		max-width: 720px;
		@include media-down(md) {
			max-width: 720px;
			margin: 30px auto;
		}
	}
	select, input {
		font-size: 1rem !important;
		line-height: 1rem;
		padding: 0;
		margin-bottom: 1rem;
	}
	.datepicker {
		box-shadow: none !important;

	}
	.datepicker-days {
		width: 250px;
		padding: 1rem;
		box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6);
	}

	.table-condensed {
		width: 100%;
		padding: 1rem;
	}

	.active.day {
		background: #d4d4d4;
	}
}
.bg-header {background-color: #eaeef1;}

td.disabled.day {
	color: #939393;
	background: #f2f2f2;
}

td.day {
	cursor: pointer;
}

table.table-condensed {
	padding: 0 .4rem;
}

div[class^="datepicker-"] {
	padding: 0 1rem;
	max-width: 100%;
}

td.active.day {
	background: $color-primary;
}
th.dow {
	font-size: 0.6rem;
	cursor: pointer;
}

th {
	cursor: pointer;
}
