{{!--Create form orders--}}
<div class="modal fade order_form" id="create_order_for">
	<div class="modal-dialog modal-guliver" role="document">
		<div class="modal-content">
			<a class="modal_close_cross clear_form" href="#" data-dismiss="modal"></a>
			<form action="#" class="modal_wrap_form" method="post">
				<div class="modal-header">
					<!--<h4 class="modal-title">Вы точно хотите удалить сотрудника?</h4>-->
					<div class="form-group col-12 p-0">
						<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="department" class="form-control form-control-lg underlined"required>
							<option value="1">Департамент</option>
							<option value="2">Служба безпеки</option>
							<option value="3">Маркетинг</option>
							<option value="4">IТ</option>
							<option value="5">Загальні</option>
						</select>
						<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="default" class="form-control form-control-lg underlined" required>
							<option value="1">Тип заявки</option>
						</select>
						<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="securety" class="form-control form-control-lg underlined " required>
							<option value="1">Тип заявки</option>
							<option value="2">Матеріальна перепустка</option>
							<option value="3">Постійна перепустка</option>
							<option value="4">Гостьова перепустка</option>
							<option value="5">Тимчасова перепустка</option>
							<option value="6">Перепустка на терріторію для виконання робіт</option>
						</select>
						<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="marcet" class="form-control form-control-lg underlined " required>
							<option value="1">Тип заявки</option>
							<option value="2">Оформлення вітрин</option>
							<option value="3">Розміщення інформації</option>
							<option value="4">Розміщення реклами</option>
							<option value="5">Проведення фото/відео зйомки</option>
							<option value="6">Акції для орендарів</option>
						</select>
						<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="it_dep" class="form-control form-control-lg underlined " required>
							<option value="1">Тип заявки</option>
							<option value="2">Підключення інтернету/телефону</option>
						</select>
						<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="others" class="form-control form-control-lg underlined "  required>
							<option value="1">Тип заявки</option>
							<option value="2">Скарга або пропозиція</option>
						</select>
						<h4 class="title text-left font-weight-bold mt-3 mb-0" id="foto_vid" style="display: none">За 5 робочих днів</h4>
						<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="terytorya" class="form-control form-control-lg underlined">
							<option value="1">Об'єкт оренди (Вежа, Поверх)</option>
							<option value="2">TOB PULL (башта А, порерх 3)</option>
							<option value="3">TOB BEAR (башта А, порерх 1)</option>
							<option value="4">TOB PULL & BEAR (башта В, порерх 2)</option>
						</select>

						<!--DATE-TIME-PICKER-RANGE-->
						<div id="basicDatepicker" data-toggle="tooltip" data-placement="right" title="Пiдказка" class="form-group form-inline justify-content-md-start flex-md-wrap date_time text-left">
							<div class="start__daretime col-12 col-md-5 p-0">
								<label for="datepicker1" class="form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
									<input type="text" id="datepicker1" class="date start form-control col-11 underlined text-center mb-0" placeholder="Вiд 15/11/2017">
									<span class="col-1 fa fa-calendar"></span>
								</label>
								<label for="datetimepicker1" class=" form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
									<input type="text" id="datetimepicker1" class="time start form-control col-11 underlined text-center mb-0" placeholder="11:30">
									<span class="col-1 fa fa-clock-o"></span>
								</label>
							</div>
							<i class="col-12 col-md-1"></i>
							<div class="end__daretime col-12 col-md-5 p-0">
								<label for="datepicker2" class=" form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
									<input type="text" id="datepicker2" class="date end form-control col-11 underlined text-center mb-0" placeholder="До 15/11/2017">
									<span class="col-1 fa fa-calendar"></span>
								</label>
								<label for="datetimepicker2" class=" form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
									<input type="text" id="datetimepicker2" class="time end form-control col-11 underlined text-center mb-0" placeholder="11:30">
									<span class="col-1 fa fa-clock-o"></span>
								</label>
							</div>
						</div>
						<!--DATE-TIME-PICKER-RANGE-->

						<div class="form-group owner_order">
							<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined hiden contract_numb" data-name="contract_numb" placeholder="Номер та дата договору" readonly>
							<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="owner_order" class="form-control form-control-lg underlined" required>
								<option value="1">ПІБ Заявника</option>
								<option value="2">Иван Иванович</option>
								<option value="3">Петр Абрамович</option>
								<option value="4">Николай II</option>
								<option value="5">Марья Петровна</option>
							</select>
							<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" disabled="disabled" class="form-control form-control-lg underlined owner_order_position" data-name="position" placeholder="Посада Заявника" readonly>
							<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" disabled="disabled" class="form-control form-control-lg underlined owner_order_phone" data-name="phone" placeholder="Телефон Заявника" readonly>
							<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" disabled="disabled" class="form-control form-control-lg underlined owner_order_email" data-name="email" placeholder="E-mail Заявника" readonly>
						</div>
						<div class="append_form append_form_SB">
							<div class="form-group material_badge">

								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined" data-name="department_work" placeholder="Компания подрядчик*" required>
								<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="" class="form-control form-control-lg underlined" required>
									<option value="1">Вид робіт*</option>
									<option value="2">внесення</option>
									<option value="3">винесення</option>
									<option value="4">ввезення</option>
									<option value="5">вивезення</option>
								</select>
								<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="" class="form-control form-control-lg underlined" required>
									<option value="1">Департамент*</option>
									<option value="2">Інженерна служба</option>
									<option value="3">Комерційна служба</option>
									<option value="4">Відділ маркетингу та реклами</option>
									<option value="5">Відділ експлуатації та ремонту</option>
								</select>
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left">
										<h4 class="title_goods-block font-weight-bold">Перелік цінностей</h4>
									</div>
								</div>
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left">
										<h4 class="number_goods ">№ з/п 1</h4>
									</div>
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" placeholder="Найменування*" class="form-control form-control-lg underlined required" required>
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" placeholder="Кількість*" class="form-control form-control-lg underlined required" required>
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" placeholder="Інвентарний/серійний номер*" class="form-control form-control-lg underlined required" required>
								</div>
								<div class="form-group form-group-add text-left">
									<label>
										<input type="submit">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">Додати цінність</span>
									</label>
								</div>
							</div>
							<div class="form-group permanent_badge">
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left">
										<h4 class="title_goods-block font-weight-bold text-uppercase">Працівники</h4>
									</div>
								</div>
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left">
										<h4 class="number_goods ">№ з/п 1</h4>
									</div>
									<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="owner_order" class="form-control form-control-lg underlined" required>
										<option value="1">ПІБ працівника</option>
										<option value="2">Иван Иванович</option>
										<option value="3">Петр Абрамович</option>
										<option value="4">Николай II</option>
										<option value="5">Марья Петровна</option>
									</select>
									<!--<input type="text" placeholder="ПІБ працівника*" class="form-control form-control-lg underlined required" required>-->
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="date" placeholder="Дата народження*" class="form-control form-control-lg underlined required" required>
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" placeholder="Текст для друку перепустки" class="form-control form-control-lg underlined required">
								</div>
								<div class="form-group text-left">
									<h4 class="title">Поверхи доступу</h4>
								</div>
								<div data-toggle="tooltip" data-placement="right" title="Пiдказка" class="form-group form-inline justify-content-md-start flex-md-wrap text-left">

									<div class="form-group form-inline col-6 pl-2">
										<div class="col-12 col-md-8 p-0">
											<label class=" text-left justify-content-start">
												<input class="checkbox" type="checkbox" checked="checked">
												<span>Поверх 1</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox" checked="checked">
												<span>Поверх 2</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox">
												<span>Поверх 3</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="text-left justify-content-start">
												<input class="checkbox" type="checkbox">
												<span>Поверх 4</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class=" text-left justify-content-start">
												<input class="checkbox" type="checkbox" checked="checked">
												<span>Поверх 5</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox">
												<span>Поверх 6</span>
											</label>
										</div>
									</div>
									<div class="form-group form-inline col-6 p-0">
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox" checked="checked">
												<span>Поверх 7</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox">
												<span>Поверх 8</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox" checked="checked">
												<span>Поверх 9</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox">
												<span>Поверх 10</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox">
												<span>Поверх 11</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox">
												<span>Поверх 12</span>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group form-group-upload text-left">
									<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
										<input type="file">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">
											<span class="form_upload_tip">Фото працівник</span>
											<span class="form_upload_format">Файли формату jpg</span>
										</span>
									</label>
								</div>
								<div class="form-group form-group-add text-left">
									<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
										<input type="submit">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">Додати працівника</span>
									</label>
								</div>
							</div>
							<div class="form-group guest_badge">
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined" data-name="count-day" placeholder="Кількість перепусток" readonly>
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left">
										<h4 class="title_goods-block font-weight-bold text-uppercase">Працівники</h4>
									</div>
								</div>
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left">
										<h4 class="number_goods ">№ з/п 1</h4>
									</div>
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" placeholder="ПІБ*" class="form-control form-control-lg underlined required" required>
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" placeholder="Посада*" class="form-control form-control-lg underlined required" required>
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" placeholder="Контактні телефони*" class="form-control form-control-lg underlined required" required>
								</div>
								<div class="form-group form-group-add text-left">
									<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
										<input type="submit">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">Додати працівника</span>
									</label>
								</div>
							</div>
							<div class="form-group temporary_badge">
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined" data-name="count-day" placeholder="Кількість перепусток" readonly>
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left">
										<h4 class="title_goods-block font-weight-bold text-uppercase">Працівники</h4>
									</div>
								</div>
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left">
										<h4 class="number_goods ">№ з/п 1</h4>
									</div>
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" placeholder="ПІБ*" class="form-control form-control-lg underlined required" required>
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" placeholder="Назва компанії" class="form-control form-control-lg underlined required" >
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" placeholder="Контактні телефони*" class="form-control form-control-lg underlined required">
								</div>
								<div class="form-group text-left">
									<h4 class="title">Межі доступу (поверхи)</h4>
								</div>
								<div data-toggle="tooltip" data-placement="right" title="Пiдказка" class="form-group form-inline justify-content-md-start flex-md-wrap text-left">

									<div class="form-group form-inline col-6 pl-2">
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox" checked="checked">
												<span>Поверх 1</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox" checked="checked">
												<span>Поверх 2</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox">
												<span>Поверх 3</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox">
												<span>Поверх 4</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox" checked="checked">
												<span>Поверх 5</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox">
												<span>Поверх 6</span>
											</label>
										</div>
									</div>
									<div class="form-group form-inline col-6 p-0">
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox" checked="checked">
												<span>Поверх 7</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox">
												<span>Поверх 8</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox" checked="checked">
												<span>Поверх 9</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox">
												<span>Поверх 10</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox">
												<span>Поверх 11</span>
											</label>
										</div>
										<div class="col-12 col-md-8 p-0">
											<label class="justify-content-start text-left">
												<input class="checkbox" type="checkbox">
												<span>Поверх 12</span>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left">
										<h4 class="number_goods ">№ з/п 1</h4>
									</div>
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="number" placeholder="Термін дії перепустки*" class="form-control form-control-lg underlined required" required>
								</div>
								<div class="form-group form-group-add text-left">
									<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
										<input type="submit">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">Додати працівника</span>
									</label>
								</div>
							</div>
							<div class="form-group territory_badge">

								<div class="title-block text-left col-12 pl-0">
									<h4 class="title text-left">Час проведення</h4>
								</div>

								<!--DATE-TIME-PICKER-RANGE-->
								<div id="basicDatepicker-1" data-toggle="tooltip" data-placement="right" title="Пiдказка" class="form-group form-inline justify-content-md-start flex-md-wrap date_times text-left">
									<div class="start__daretime col-12 col-md-5 p-0">
										<label for="datepicker1" class="form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
											<input type="text" id="datepicker1" class="date start form-control col-10 underlined text-center mb-0" placeholder="Вiд 15/11/2017">
											<span class="col-2 fa fa-calendar"></span>
										</label>
										<label for="datetimepicker1" class=" form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
											<input type="text" id="datetimepicker1" class="time start form-control col-11 underlined text-center mb-0" placeholder="11:30">
											<span class="col-1 fa fa-clock-o"></span>
										</label>
									</div>
									<i class="col-12 col-md-1"></i>
									<div class="end__daretime col-12 col-md-5 p-0">
										<label for="datepicker2" class=" form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
											<input type="text" id="datepicker2" class="date end form-control col-11 underlined text-center mb-0" placeholder="До 15/11/2017">
											<span class="col-1 fa fa-calendar"></span>
										</label>
										<label for="datetimepicker2" class=" form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
											<input type="text" id="datetimepicker2" class="time end form-control col-11 underlined text-center mb-0" placeholder="11:30">
											<span class="col-1 fa fa-clock-o"></span>
										</label>
									</div>
								</div>
								<!--DATE-TIME-PICKER-RANGE-->

								<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="" class="form-control form-control-lg underlined" required>
									<option value="1">Вид робіт*</option>
									<option value="2">оформлення вітрин</option>
									<option value="3">дрібний ремонт</option>
								</select>
								<div class="title-block text-left">
									<h4 class="title text-left text-uppercase">Зображення маршруту</h4>
								</div>
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined" data-name="walked_plane" placeholder="Комментар" >
								<div class="form-group form-group-upload text-left">
									<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
										<input type="file">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">
											<span class="form_upload_tip">Зображення маршруту</span>
											<span class="form_upload_format">Файли у форматі jpg</span>
										</span>
									</label>
								</div>
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left">
										<h4 class="title_goods-block text-uppercase">Виконавці робіт</h4>
									</div>
								</div>
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left">
										<h4 class="number_goods ">№ з/п 1</h4>
									</div>
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" placeholder="ПІБ виконавця*" class="form-control form-control-lg underlined required" required>
								</div>
								<div class="form-group form-group-add text-left">
									<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
										<input type="submit">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">Додати працівника</span>
									</label>
								</div>
							</div>
						</div>
						<div class="append_form append_form_MARC">
							<div class="form-group decorate_vitrina">
								<div class="title-block text-left">
									<h4 class="title text-left text-uppercase">Завантажено: витрина.jpg <i class="fa fa-close"></i></h4>
								</div>
								<div class="form-group form-group-upload text-left">
									<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
										<input type="file">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">
											<span class="form_upload_tip">Макет вітрини</span>
											<span class="form_upload_format">Файл у форматi jpg</span>
										</span>
									</label>
								</div>

								<!--DATE-TIME-PICKER-RANGE-->
								<div id="basicDatepicker-2" data-toggle="tooltip" data-placement="right" title="Пiдказка" class="form-group form-inline justify-content-md-start flex-md-wrap date_times text-left">
									<div class="title-block text-left col-12 pl-0">
										<h4 class="title text-left">Час проведення</h4>
									</div>
									<div class="start__daretime col-12 col-md-5 p-0">
										<label for="datepicker1" class="form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
											<input type="text" id="datepicker1" class="date start form-control col-11 underlined text-center mb-0" placeholder="Вiд 15/11/2017">
											<span class="col-1 fa fa-calendar"></span>
										</label>
										<label for="datetimepicker1" class=" form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
											<input type="text" id="datetimepicker1" class="time start form-control col-11 underlined text-center mb-0" placeholder="11:30">
											<span class="col-1 fa fa-clock-o"></span>
										</label>
									</div>
									<i class="col-12 col-md-1"></i>
									<div class="end__daretime col-12 col-md-5 p-0">
										<label for="datepicker2" class=" form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
											<input type="text" id="datepicker2" class="date end form-control col-11 underlined text-center mb-0" placeholder="До 15/11/2017">
											<span class="col-1 fa fa-calendar"></span>
										</label>
										<label for="datetimepicker2" class=" form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
											<input type="text" id="datetimepicker2" class="time end form-control col-11 underlined text-center mb-0" placeholder="11:30">
											<span class="col-1 fa fa-clock-o"></span>
										</label>
									</div>
								</div>
								<!--DATE-TIME-PICKER-RANGE-->

								<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="" class="form-control form-control-lg underlined" required>
									<option value="1">Вид робіт*</option>
									<option value="2">оформлення вітрин</option>
									<option value="3">дрібний ремонт</option>
								</select>
								<div class="title-block text-left">
									<h4 class="title text-left text-uppercase">Зображення маршруту</h4>
								</div>
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined" data-name="walked_plane" placeholder="Комментар" >
								<div class="form-group form-group-upload text-left">
									<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
										<input type="file">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">
											<span class="form_upload_tip">Завантажте зображення маршруту</span>
											<span class="form_upload_format">Файл у форматi jpg</span>
										</span>
									</label>
								</div>
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left">
										<h4 class="title_goods-block text-uppercase">Виконавці робіт</h4>
									</div>
								</div>
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left">
										<h4 class="number_goods ">№ з/п 1</h4>
									</div>
									<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" placeholder="ПІБ виконавця*" class="form-control form-control-lg underlined required" required>
								</div>
								<div class="form-group form-group-add text-left">
									<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
										<input type="submit">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">Додати працівника</span>
									</label>
								</div>
							</div>
							<div class="form-group add_inform">
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined" data-name="walked_plane" placeholder="Коментар" >
								<div class="form-group goods goods_item-1">
									<div class="title-block text-left pt-3 pb-0">
										<h4 class="title_goods-block font-weight-bold">Рекламний текст</h4>
									</div>
								</div>
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control underlined text-left title_ua" placeholder="Рекламний текст Заголовок (укр)">
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control underlined text-left title_ru" placeholder="Рекламний текст Заголовок (рос)">
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control underlined text-left title_en" placeholder="Рекламний текст Заголовок (англ)">
								<textarea data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="" cols="30" rows="3" class="form-control underlined text-left title_ua" placeholder="Рекламний текст Текст (укр)"></textarea>
								<textarea data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="" cols="30" rows="3" class="form-control underlined text-left title_ru" placeholder="Рекламний текст Текст (рос)"></textarea>
								<textarea data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="" cols="30" rows="3" class="form-control underlined text-left mb-5 title_en" placeholder="Рекламний текст Текст (англ)"></textarea>
								<div data-toggle="tooltip" data-placement="bottom" title="Пiдказка" class="form-group form-inline text-left">
									<h4 class="form-inline title col-12 col-md-6">Бажана дата публікації</h4>

									<label for="datepicker_add_inform" class="form-inline flex-nowrap border-bottom-1 col-12 col-md-4 align-bottom mb-3">
										<input type="text" id="datepicker_add_inform" class="form-control col-10 underlined mb-0" placeholder="2017/03/15">
										<span class="col-1 fa fa-calendar"></span>
									</label>
								</div>
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined" data-name="walked_plane" placeholder="Коментар" >
								<div class="title-block text-left">
									<h4 class="title text-left text-uppercase">Завантажено: рекламный макет1.jpg <i class="fa fa-close"></i></h4>
								</div>
								<div class="form-group form-group-upload text-left">
									<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
										<input type="file">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">
											<span class="form_upload_tip">Макет реклами </span>
											<span class="form_upload_format">Файл у форматi jpg</span>
										</span>
									</label>
								</div>
								<a href="#" class="btn btn_type_e  mx-auto my-0 ">Завантажити PDF правила розміщення інформації на сайті
								</a>
							</div>
							<div class="form-group add_in_magazine">
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined" data-name="walked_plane" placeholder="Коментар" >
								<div class="title-block text-left">
									<h4 class="title text-left text-uppercase">Завантажено: рекламний макет1.jpg <i class="fa fa-close"></i></h4>
								</div>
								<div class="form-group form-group-upload text-left">
									<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
										<input type="file">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">
											<span class="form_upload_tip">Макет реклами</span>
											<span class="form_upload_format">Файл у форматi jpg</span>
										</span>
									</label>
								</div>
							</div>
							<div class="form-group foto_vodeo">
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined" data-name="walked_plane" placeholder="Коментар" >
								<div class="title-block text-left">
									<h4 class="title text-left text-uppercase">Завантажено: макет7.jpg <i class="fa fa-close"></i></h4>
								</div>
								<div class="form-group form-group-upload text-left">
									<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
										<input type="file">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">
											<span class="form_upload_tip">Макет реклами</span>
											<span class="form_upload_format">Файл у форматi jpg</span>
										</span>
									</label>
								</div>
							</div>
							<div class="form-group action_owner">
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined" data-name="walked_plane" placeholder="Заголовок акції" >
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined" data-name="walked_plane" placeholder="Опис акції" >
								<div class="title-block text-left col-12 pl-0">
									<h4 class="title text-left">Період акції</h4>
								</div>

								<!--DATE-PICKER-RANGE-->
								<div id="basicDatepicker-3" data-toggle="tooltip" data-placement="right" title="Пiдказка" class="form-group form-inline justify-content-md-start flex-md-wrap date_times text-left">
									<div class="start__daretime col-12 col-md-5 p-0">
										<label for="datepicker1" class="form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
											<input type="text" id="datepicker1" class="date start form-control col-10 underlined text-center mb-0" placeholder="Вiд 15/11/2017">
											<span class="col-2 fa fa-calendar"></span>
										</label>
									</div>
									<i class="col-12 col-md-1"></i>
									<div class="end__daretime col-12 col-md-5 p-0">
										<label for="datepicker2" class=" form-inline flex-nowrap border-bottom-1 align-bottom mb-3 pl-0">
											<input type="text" id="datepicker2" class="date end form-control col-10 underlined text-center mb-0" placeholder="До 15/11/2017">
											<span class="col-2 fa fa-calendar"></span>
										</label>
									</div>
								</div>
								<!--DATE-PICKER-RANGE-->

								<div class="form-group form-group-upload text-left">
									<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
										<input type="file">
										<span class="form_upload_plus">+</span>
										<span class="form_upload_text">
											<span class="form_upload_tip">Макет реклами</span>
											<span class="form_upload_format">Файл в форматi jpg</span>
										</span>
									</label>
								</div>
							</div>

						</div>
						<div class="append_form append_form_IT">
							<div class="form-group form-group-upload text-left">
								<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
									<input type="file">
									<span class="form_upload_plus">+</span>
									<span class="form_upload_text">
											<span class="form_upload_tip">Схема расположения магазина*</span>
											<span class="form_upload_format">Файл у формате jpg</span>
										</span>
								</label>
							</div>
							<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="communication_service" class="form-control form-control-lg underlined "  required>
								<option value="1">Послуга зв'язку</option>
								<option value="2">Телефонія</option>
								<option value="3">Інтернет</option>
								<option value="4">Канал передачі даних</option>
							</select>
							<div class="form-group telephony">
								<div class="title-block text-left">
									<h3 class="title text-left text-uppercase">Телефонія</h3>
								</div>
								<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="operator" class="form-control form-control-lg underlined" required>
									<option value="1">Оператор зв’язку</option>
									<option value="2">Київстар</option>
									<option value="3">Укртелеком</option>
									<option value="4">Датагруп</option>
									<option value="5">Вега (Фарлеп, Оптима)</option>
									<option value="6">УНТК</option>
									<option value="7">ВОЛЗ</option>
									<option value="8">Інший</option>
								</select>
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="number" class="form-control form-control-lg underlined mb-3" data-name="walked_plane" placeholder="Кількість ліній" >
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="number" class="form-control form-control-lg underlined mb-3" data-name="walked_plane" placeholder="Швидкість доступу, Мбит/с" >
								<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="type_connect" class="form-control form-control-lg underlined" required>
									<option value="1">Тип підключення</option>
									<option value="2">Мідний телефонний кабель</option>
									<option value="3">Кабель вита пара UTP 5</option>
									<option value="4">Оптичний кабель</option>
								</select>
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined mb-3" data-name="walked_plane" placeholder="Коментар" >
							</div>
							<div class="form-group internet">
								<div class="title-block text-left">
									<h3 class="title text-left text-uppercase">Інтернет</h3>
								</div>
								<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="operator" class="form-control form-control-lg underlined" required>
									<option value="1">Оператор зв’язку</option>
									<option value="2">Київстар</option>
									<option value="3">Укртелеком</option>
									<option value="4">Датагруп</option>
									<option value="5">Вега (Фарлеп, Оптима)</option>
									<option value="6">УНТК</option>
									<option value="7">ВОЛЗ</option>
									<option value="8">Інший</option>
								</select>
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="number" class="form-control form-control-lg underlined mb-3" data-name="walked_plane" placeholder="Кількість ліній" >
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="number" class="form-control form-control-lg underlined mb-3" data-name="walked_plane" placeholder="Швидкість доступу, Мбит/с" >
								<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="type_connect" class="form-control form-control-lg underlined" required>
									<option value="1">Тип підключення</option>
									<option value="2">Мідний телефонний кабель</option>
									<option value="3">Кабель вита пара UTP 5</option>
									<option value="4">Оптичний кабель</option>
								</select>
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined mb-3" data-name="walked_plane" placeholder="Коментар" >
							</div>
							<div class="form-group data_channel">
								<div class="title-block text-left">
									<h3 class="title text-left text-uppercase">Канал передачі даних</h3>
								</div>
								<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="operator" class="form-control form-control-lg underlined" required>
									<option value="1">Оператор зв’язку</option>
									<option value="2">Київстар</option>
									<option value="3">Укртелеком</option>
									<option value="4">Датагруп</option>
									<option value="5">Вега (Фарлеп, Оптима)</option>
									<option value="6">УНТК</option>
									<option value="7">ВОЛЗ</option>
									<option value="8">Інший</option>
								</select>
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="number" class="form-control form-control-lg underlined mb-3" data-name="walked_plane" placeholder="Кількість ліній" >
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="number" class="form-control form-control-lg underlined mb-3" data-name="walked_plane" placeholder="Швидкість доступу, Мбит/с" >
								<select size="1" data-toggle="tooltip" data-placement="bottom" title="Пiдказка" name="" id="type_connect" class="form-control form-control-lg underlined" required>
									<option value="1">Тип підключення</option>
									<option value="2">Мідний телефонний кабель</option>
									<option value="3">Кабель вита пара UTP 5</option>
									<option value="4">Оптичний кабель</option>
								</select>
								<input data-toggle="tooltip" data-placement="bottom" title="Пiдказка" type="text" class="form-control form-control-lg underlined mb-3" data-name="walked_plane" placeholder="Коментар" >
							</div>

							<div class="form-group form-group-add text-left">
								<label data-toggle="tooltip" data-placement="bottom" title="Пiдказка">
									<input type="submit">
									<span class="form_upload_plus">+</span>
									<span class="form_upload_text">Додати послугу зв'язку</span>
								</label>
							</div>

						</div>
						<div class="append_form append_form_OTHER">
							<div class="form-group">
								<div class="title-block text-left">
									<h3 class="title text-left text-uppercase">Оберіть тип заявки</h3>
								</div>

								<div data-toggle="tooltip" data-placement="right" title="Пiдказка" class="form-group form-inline justify-content-md-start flex-md-wrap text-left">

									<div class="form-group form-inline col-8">
										<div class="col-8 text-left justify-content-start p-0">
											<label class=" text-left justify-content-start">
												<input class="radio" name="other" type="radio" checked>
												<span>Скарга</span>
											</label>
										</div>
										<div class="col-8 text-left justify-content-start p-0">
											<label class=" text-left justify-content-start">
												<input class="radio" name="other"  type="radio" >
												<span>Пропозиція</span>
											</label>
										</div>
									</div>
									<div class="form-group form-inline col-4">
									</div>
								</div>
								<textarea data-toggle="tooltip" data-placement="bottom" title="Пiдказка" class="form-group form-inline justify-content-md-start flex-md-wrap text-left w-100" name="" id=""  rows="5"></textarea>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button class="btn btn_type_a mb-3 mb-md-0" data-dismiss="modal">Зберегти</button>
					<button  type="submit" class="btn btn_type_b">Вiдправити</button>
				</div>
				<div class="modal-footer form-group modal-after-footer">
					<p class="form-group col-12 p-0">
						По своей сути рыбатекст является альтернативой традиционному lorem
						ipsum, который вызывает у некторых людей недоумение при попытках
					</p>
				</div>
			</form>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
