<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="contacts_trk_flex_container">
                <div class="contacts_trk_block">
                    <div class="contacts_trk_block_row">
                        <span class="contacts_trk_address">г. Киев, пл. Спортивная, 1-А</span>
                    </div>
                </div>
                <div class="contacts_trk_block">
                    <div class="contacts_trk_block_row">
                        <span>Отдел аренды:</span>
                    </div>
                    <div class="contacts_trk_block_row">
                        <span>Тел.( 044) 364-84-40</span>
                    </div>
                    <div class="contacts_trk_block_row">
                        <span>E-mail: arenda@gullivercenter.com</span>
                    </div>
                </div>
                <div class="contacts_trk_block">
                    <div class="contacts_trk_block_row">
                        <span>Отдел рекламы:</span>
                    </div>
                    <div class="contacts_trk_block_row">
                        <span>Тел.( 044) 364-84-40</span>
                    </div>
                    <div class="contacts_trk_block_row">
                        <span>E-mail: reklama@gullivercenter.com</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>